/* css reset */

*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

img, svg {
    max-width: 100%;
    display: block;
}

h1 {
    line-height: 1.1;
}

button {
    background-color: inherit;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* global custom-properties */

:root {
    /* Primary */
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black-seventy-five-perc-for-lightbox: hsla(0, 0%, 0%, 0.75);
    --global-padding: 2rem;
}

/* utility classes */

.btn {
    background-color: white;
    cursor: pointer;
}

.fw-700 {
    font-weight: 700;
}

.clr-grey {
    color: var(--Dark-grayish-blue);
}


.txt-big {
    font-size: clamp(1.7rem, 1rem + 1vw, 2.2rem);
}

/*  main style */
body {
    line-height: 1.5;
    background-color: var(--White);
}

.wraper {
    max-width: 1150px;
    margin-inline: auto;
    overflow: hidden;
    min-width: 220px;
}

.navbar {
    display: flex;
}

#menu-btn {
    display: none;
}

.header {
    padding: calc(var(--global-padding) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 220px;
    /* position: relative; */
}

.menu-btn-container, .cart-box-container {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.cart-btn {
    position:relative;
    font-size: 0.8rem;

}

.cart-btn[data-items='0']::after {
    display: none;
}

.cart-btn::after {
    content: attr(data-items);
    display: grid;
    place-content: center;
    position: absolute;
    background-color: var(--Orange);
    color: var(--White);
    top: -0.5rem;
    right: -0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100vw;
}

.avatar-img-container {
    --custom-border:3px;
    border-radius: 50%;
    transition:border 0.2s ease-in;
    border: var(--custom-border) solid transparent;
}

.avatar-img-container:hover {
    border: var(--custom-border) solid var(--Orange);
}

.user-img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.product-images-container {
    display: grid;
    gap:1rem;
}

.images-container {
    position: relative;
}

.move-btn {
    background-color: var(--White);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index:1;
}


.move-btn[data-state="back"] {
    left: var(--global-padding);
    
}

.move-btn[data-state="fw"] {
    right: var(--global-padding)
}


.x-mark-icon-btn {
    justify-self: end;
    background-color: inherit;
    display: none;
}

.x-mark-icon-img {
    width: 1.5rem;
    height: 1.5rem;
}

.x-mark-icon-btn path {
    transition: fill 0.2s ease-in;
}

.x-mark-icon-btn:hover path{
    fill: var(--Orange);
}

.cart-title-container {
    border-radius: 12px;
}

.cart-wraper{
    display: grid;
}

.cart-wraper[aria-hidden='true'] {
    display: none;
}

.cart-container {
    --padding-container:1.5rem;
    z-index: 1;
    display: grid;
    padding-bottom:2rem;
    border-radius: 12px;
    box-shadow: 0 12px 12px hsl(0, 0%, 0%, 0.4);
    max-width: 400px;
    transition: transform 0.3s ease-in, opacity 0.2s ease-in;
    opacity: 1;
}


.cart-title, .cart-content {
    padding: var(--padding-container);
}

.cart-title {
    font-size: 1.2rem;
    border-bottom: 1px solid var(--Grayish-blue);
}

.cart-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    color: var(--Dark-grayish-blue);
}

.empty-cart-content {
    color: var(--Dark-grayish-blue);
    font-size: 1.125rem;
    min-height: 150px;
    display: none;
}

.empty-cart-content[aria-hidden='false'] {
    display: grid;
    place-items: center;
}

.final-price {
    color: black;
}

.cart-img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.cart-checkout-btn {
    background-color: var(--Orange);
    padding: 1rem;
    margin-inline: 1rem;
    border-radius: 12px;
}


.smaller-images-container {
    display: none;
}

.lightbox .smaller-images-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    gap: 1rem;
}

.product-content {
    display: grid;
    gap: 1rem;
}

.main-content {
    display: grid;
    gap: 1rem;
}

.titles-container {
    display: grid;
    gap: calc(var(--global-padding) / 4);
}

.main-title {
    font-size: clamp(2rem, 1rem + 2vw, 2.6rem);
}

.product-values-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.product-description, .small-title {
    font-size: clamp(1rem, 0.6rem + 1vw, 1.2rem );
}

.order-container {
    display: grid;
    gap: calc(var(--global-padding) / 2);
}

.items-magnitude-container {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--global-padding) / 2);
    background-color: var(--Light-grayish-blue);
    border-radius: 12px;
}

.add-to-cart-btn {
    background-color: var(--Orange);
    padding: 1rem;
    border-radius: 12px;
    font-weight: 700;
    transition: background-color 0.2s ease-in;
}

.add-to-cart-btn:hover, .add-to-cart-btn:active {
    background-color: var(--Pale-orange);
}

.real-values-container {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.discount {
    background-color: var(--Very-dark-blue);
    color: var(--White);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.lightbox-container {
    position: fixed;
    place-content: center;
    top:0;
    left: 0;
    background-color:var(--Black-seventy-five-perc-for-lightbox);
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.lightbox-container[aria-hidden="false"] {
    display: grid;
}

.lightbox-container[aria-hidden="true"] {
    display: none;
}

@media screen and (max-width:300px) {
    .logo-img {
        display: none;
    }

    .product-values-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1%;
    }
}

@media screen and (max-width:780px) {

    .wraper {
        max-width: 600px;
    }

    .navbar {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 45vw;
        max-width: 300px;
        padding: var(--global-padding);
        background-color: var(--White);
        flex-direction: column;
        gap: 2rem;
        transform: translateX(calc(-100% - var(--global-padding)));
        transition: transform 0.2s ease-in;
        z-index: 1000;

    }

    #menu-btn:checked~ .navbar {
        transform: translateX(calc(-1 * var(--global-padding)));
    }

    .close-btn {
        margin-right: auto;
        display: grid;
        place-content: center;
        padding: 0.5rem;
    }

    .nav-items {
        line-height: 3;
    }

    .cart-container {
        background-color: var(--White);
        width: calc(100% - 1rem);
        position: absolute;
        top: calc(3 * var(--global-padding));
        left:50%;
        transform: translate(-50%, 0);
        z-index: 100;
    }

    .cart-container[aria-hidden='true']{
        transform: translate(-50%, calc(-100% - 4 * var(--global-padding)));
        opacity: 0;
    }

    .main-images-container {
        position: relative;
        height: 32em;
        transition: 0.5s ease;
    }

    .main-images-item{
        position: absolute;
        height: 100%;
        width: 100%;
        transition: 0.2s ease-in;
        transform: translateX(var(--amount-to-move, 0));
    }

    .big-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-content {
        padding: var(--global-padding);
    }
}


@media screen and (min-width:781px) {

    .header {
        padding: calc(var(--global-padding) / 2) 0;
        margin: calc(var(--global-padding) / 2);
        border-bottom: 1px solid var(--Grayish-blue);
        position: relative;
    }
    
    .menu-btn-container {
        gap: 1.5rem;
    }

    .close-btn {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .cart-container {
        background-color: var(--White);
        width: calc(100% - 1rem);
        max-width: 400px;
        position: absolute;
        top: 100%;
        transform: translateY(0);
        right: 0;
        z-index: 100;
    }

    .cart-container[aria-hidden='true']{
        transform: translateY(calc(-100% - 2 * var(--global-padding)));
        opacity: 0;
    }

    .nav-items {
        --custom-margin:0.2rem;
        display: flex;
        line-height: 1.5;
        gap: 1.5rem;
        margin-top: var(--custom-margin);
        font-weight: 300;
        
    }

    .nav-item {
        --custom-height: 4px;
        position: relative;
    }

    .nav-item::after {
        content: '';
        position: absolute;
        top:calc(100% + var(--global-padding) / 2 + var(--custom-margin) + var(--custom-height) + 3px);
        left: 0;
        width: 100%;
        height: var(--custom-height);
        background-color: var(--Orange);
        transform: scale(0, 1);
        transform-origin: left;
        transition: 0.2s ease-in;
    }

    .nav-item:hover::after {
        transform: scale(1, 1);
    }


    .product-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .main-title {
        max-width: 20ch;
        margin-bottom: 1rem;
    }

    .smaller-images-container {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .big-img, .small-img {
        border-radius: 12px;
    }
    
    .smaller-images-item{
        ---border-thickness: 4px;
    }

    .product-content .smaller-images-item[data-active='false'] {
        border: 4px solid transparent;
    }

    .lightbox .smaller-images-item[data-active='false'] {
        border: 4px solid hsla(0, 0%, 0%, 0);
        border-radius: 16px;
    }


    .smaller-images-item[data-active='true'] {
        border: var(---border-thickness) solid var(--Orange);
        background-color: white;
        border-radius: 16px;
    }

    .small-img {
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }

    .small-img:hover {
        opacity: 0.5;
    }

    .smaller-images-item[data-active='true'] .small-img{
        opacity: 0.3;
        border-radius: 12px;
    }

    .lightbox .smaller-images-item {
        position: relative;
    }


    .lightbox .smaller-images-item[data-active='false']::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 12px;
        background-color: hsla(0, 0%, 100%, 0.75);
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

     .lightbox .smaller-images-item[data-active='false']:hover::after {
        opacity: 1;
    }

    .order-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-values-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1%;
    }

    .move-btn {
        display: none;
    }

    .product-images-container {
        padding-left: calc(var(--global-padding));
        align-content: center;
    }

    .secondary-image {
        display: none;
    }

    .main-content {
        padding-block: 2rem;
        align-content: center;
        gap: 5%;
        padding-right: calc(var(--global-padding) / 2);
    }

    .lightbox{
        display: grid;
        width: clamp(450px, 40vw, 500px);
        margin-inline: auto;
        margin-block: auto;
    }

    .lightbox .move-btn {
        display: grid;
        place-items: center;
        position: absolute;
    }

    .lightbox .move-btn[data-state="back"] {
        left: calc(-1 * var(--global-padding) / 2);
    }
    
    .lightbox .move-btn[data-state="fw"] {
        right: calc(-1 * var(--global-padding) / 2);
    }

    .lightbox .product-images-container {
        padding: 0.5rem 2rem;
    }

    .x-mark-icon-btn {
        justify-self: end;
        background-color: inherit;
        display: unset;
    }

    .x-mark-icon-btn path {
        fill: var(--White);
    }
}

/* front end mentor styles */

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-block: 2rem;
 }

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:870px) {
    
    .product-images-container {
        padding:var(--global-padding);
    }
}